body {
}
.fa-dice::before{
    display: inline-flex;
    content: ' ';
    background-image: url(plugins/nodebb-plugin-dice-and-numbers/img/dice-solid.svg);
    background-repeat: no-repeat;
    background-size: 12px 20px;
    width: 12px;
    height: 15px;
}
#diceroller-field {
    padding: 9px;
    display: grid;
    margin-bottom: 8px;
    grid-row-gap: 6px;
}

#random, #dice{
    display: none;
}